[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = git@github.com:google/googletest.git
[submodule "thirdparty/benchmark"]
	path = thirdparty/benchmark
	url = git@github.com:google/benchmark.git
